.about {
  position: relative;
  background-image: linear-gradient(
    120deg,
    rgb(128, 110, 78),
    rgb(126, 114, 86)
  );
  width: 100%;
  height: fit-content;
}

.aboutTitle {
  font-size: 100px;
  font-family: 'subtitle';
  padding-top: 20px;
  margin-bottom: 50px;
  display: inline;
}

.aboutTitleContainer {
  padding-top: 20px;
}

.detailsContainer {
  display: inline-block;
  position: relative;
  width: fit-content;
  height: auto;
  font-size: 30px;
  vertical-align: top;
  margin: auto;
}

.resumeContainer {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.profilePic {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 400px;
  vertical-align: top;
}

.detailsContainer p {
  width: 600px;
  margin: auto;
}

.profilePic img {
  width: 100%;
  height: auto;
}

.resumeTitle {
  font-size: 50px;
}

.resumeOverlay {
  background-color: rgba(0, 0, 0, 0.425);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 300ms;
  font-size: 50px;
  padding-top: 350px;
}

.resumeOverlay:hover {
  opacity: 1;
  cursor: pointer;
}

.resumePic {
  width: 500px;
  height: auto;
}

.contactContainter {
  position: absolute;
  bottom: 50px;
  left: 600px;
  text-align: left;
}

.contactContainter #submit {
  text-align: center;
}

.contactTitle {
  font-size: 40px;
  text-align: center;
}

#arrow3 {
  width: 60px;
  height: 72px;
  margin-left: -80px;
  margin-top: 20px;

  display: inline;
}

#arrow4 {
  width: 60px;
  height: 72px;
  margin-left: 15px;
  margin-top: 20px;

  display: inline;
}

.borderBlur2 {
  background-image: linear-gradient(
    120deg,
    rgb(71, 109, 38),
    rgb(126, 114, 86)
  );
  position: absolute;
  width: 100%;
  height: 40px;
  top: -20px;
  z-index: 900;
  filter: blur(10px);
}
